.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

body {
  background-color: rgb(7, 4, 68);
}

.navbar {
  background-color: rgb(213, 206, 158);
  margin-top: 18px;
  font-family: "poppins";
  --bs-navbar-color: azure;
}
.navbar .navbar-nav {
  --bs-navbar-color: azure;
}
.navbar h1 {
  font-size: 31px;
  color: rgb(255, 255, 255);
}

.marquee {
  color: aliceblue;
  font-family: "roboto";
  font-size: 15px;
  align-items: center;
  text-align: center;
  padding-left: 10px;
  display: flex;
  position: relative;
  width: 100vw;
  max-width: 100%;
  margin-top: 15px;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.portada {
  display: flex;
  justify-content: left;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/portada.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  font-size: 50px;
  color: aliceblue;
  font-family: "poppins";
}

/*Cards*/
.card-group {
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#card-inicio .card-title {
  color: rgb(27, 153, 255);
  font-weight: bolder;
  text-decoration-line: underline;
  padding-top: 0px;
  padding-bottom: 20px;
}
#card-inicio .card-text {
  font-family: "poppins";
  font-size: 15px;
  background-color: white;
  color: rgb(134, 134, 113);
  text-align: left;
}

/*footer*/
footer {
  color: azure;
  text-align: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
footer h3 {
  font-size: 14px;
  padding: 100px 100px 10px;
}

/*productos*/
main .productos-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/productos.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  text-align: center;
}
main .productos-banner .h-banner {
  color: aliceblue;
  font-size: 50px;
  font-family: "poppins";
}
main .productos {
  font-family: "poppins";
  font-size: 30px;
  color: aliceblue;
  display: flex;
  padding: 10px;
  margin: 30px;
}
main .card-productos {
  padding: 10px;
  margin: 20px;
}
main .card-productos h5 {
  color: rgb(27, 153, 255);
  font-weight: bolder;
  text-decoration-line: underline;
  padding-top: 0px;
  padding-bottom: 20px;
}
main .card-productos .card-text {
  font-family: "poppins";
  font-size: 15px;
  background-color: white;
  color: rgb(134, 134, 113);
  text-align: left;
}

/*cursos*/
.cursos-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/productos.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  text-align: center;
}
.cursos-banner .c-banner {
  color: aliceblue;
  font-size: 50px;
  font-family: "poppins";
}

.curso-texto {
  color: azure;
  text-align: center;
  font-family: "poppins";
  font-size: 30px;
  padding-top: 10px;
  margin-top: 10px;
}
.curso-texto p {
  color: azure;
  text-align: center;
  font-family: "poppins";
  font-size: 17.5px;
}

.info-cursos {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  font-family: "roboto";
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-align: center;
  align-items: center;
  background-color: rgb(4, 121, 255);
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.info-cursos p {
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

/*card cursos*/
.cards-cursos img {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}
.cards-cursos h2 {
  font-size: 30px;
  font-weight: bolder;
  text-decoration: overline;
  text-align: center;
  padding: 10px;
  background-color: rgba(144, 138, 138, 0.39);
  align-items: center;
}
.cards-cursos .card-p {
  font-size: 20px;
  background-color: rgba(144, 138, 138, 0.39);
  font-family: "roboto";
  text-align: center;
  align-items: center;
}

/*botones*/
.botones {
  align-items: center;
  text-align: center;
  margin: 100px;
  font-family: "roboto";
  font-size: 20px;
  display: block;
}

/*portada locales*/
main .local-titulo {
  font-family: "poppins";
  font-size: 30px;
  color: aliceblue;
  padding: 10px;
  margin-top: 30px;
  text-align: center;
}
main .local-p {
  font-family: "poppins";
  font-size: 18px;
  color: aliceblue;
  padding: 7px;
  text-align: center;
}

/*seccion locales*/
.thumbnails {
  flex-wrap: wrap;
}
.thumbnails .box {
  text-align: center;
  margin: 0 1em 0 1em;
  padding-top: 2em;
  flex-direction: column;
}
.thumbnails .box-content {
  display: flex;
  align-items: center;
  position: relative;
  padding: 16px;
  border: 4px solid white;
  border-radius: 15px;
  background-color: rgb(213, 206, 158);
}
.thumbnails .box-content img {
  width: 50%;
  border-radius: 15px;
}
.thumbnails .box-content .info {
  padding: 15%;
}
.thumbnails .h-costa {
  font-family: "poppins";
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  color: aliceblue;
  margin-left: 10px;
  display: flex;
}
.thumbnails .p-costa {
  font-family: "poppins";
  font-size: 20px;
  font: weight 200px;
  text-align: center;
  color: aliceblue;
  display: flex;
}

/*contacto*/
main .h-contacto {
  font-family: "poppins";
  font-size: 30px;
  color: aliceblue;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
main .h-informacion {
  font-family: "poppins";
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-weight: normal;
}
main .formulario {
  width: 400px;
  background-color: rgb(31, 66, 130);
  padding: 20px;
  margin: auto;
  font-family: roboto;
  border-radius: 14px;
}
main .formulario h1 {
  font-size: 20px;
  color: aliceblue;
  text-align: center;
}
main .formulario .text {
  width: 100%;
  background-color: rgb(31, 66, 130);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 7px;
  border: 1.5px solid rgb(7, 4, 68);
  color: azure;
}
main .formulario p {
  color: aliceblue;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
main .formulario .boton-form {
  font-family: roboto;
  font-size: 15px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: rgb(27, 153, 255);
  color: aliceblue;
  padding: 4px;
  margin: 16px 0px;
}
main .redes {
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin-top: 50px;
  border: none;
  display: flex;
  background-color: rgb(7, 4, 68);
  aanimation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main .redes #ig {
  padding: 20px;
}
main .redes #tiktok {
  padding: 20px;
}
main .redes #wpp {
  padding: 20px;
}
main #preguntas {
  text-align: center;
  font-family: "poppins";
  font-size: 18px;
  color: aliceblue;
  background-color: rgb(213, 206, 158);
  margin-top: 50px;
}
main .accordion-header {
  font-family: "poppins";
}
main .accordion-body {
  font-family: "poppins";
  font-size: smaller;
}
main .newsletter {
  font-size: 20px;
  font-family: "poppins";
  color: white;
  background-color: rgb(7, 4, 68);
  padding: px;
  align-items: center;
  margin: 30px;
  border-radius: 80px;
  text-align: center;
}
main .newsletter :hover {
  color: rgb(213, 206, 158);
}
main .newsletter a {
  color: aliceblue;
  text-decoration: dotted;
}

/*# sourceMappingURL=styles.css.map */
