.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
   
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
 
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
 
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

body {
    background-color: rgb(20, 20, 20);

}

.navbar {
  background-color:rgb(27, 153, 255);
  margin-top: 18px;
  font-family: "poppins";
  --bs-navbar-color: azure;
 
}

.navbar-nav {
 --bs-navbar-color: azure;
}

h1 {
    font-size: 31px;
    color: rgb(255, 255, 255);
}

.portada {
    display: flex;
    justify-content: left;
    align-items: center;
    background: linear-gradient(to bottom, rgb(0 0 0 /.5), rgb( 0 0 0 /.5)), url(../imagenes/portada.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 720px;
    height: 600px;
    font-size: 50px;
    color: aliceblue;
    font-family: "poppins";

}

.productos {
    font-family: "poppins";
    font-size: 30px;
    color: aliceblue;
    display: flex;
    padding: 10px;
    margin: 30px;
}

.card-group {
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-productos {
    padding: 10px;
    margin: 20px;
    
}

.cursos {
    display: flex;
    color: azure;
    text-align: center;
    font-family: "poppins";
    font-size: 30px;
    padding-top: 10px;
    margin-top: 10px;

}

.p-cursos {
    display: flex;
    color: azure;
    text-align: center;
    font-family: "poppins";
    font-size: 17.5px;
}

.card-title {
    color:rgb(27, 153, 255);
    font-weight: bolder;
    text-decoration-line: underline;
    padding-top: 0px;
    padding-bottom: 20px;

}

.card-curso {
    font-size: 45px;
    font-weight: bolder;
    text-decoration: overline;
    padding: 10px;
    background-color: rgba(144, 138, 138, 0.39);
}

.card-p {
    font-size: 20px;
    background-color: rgba(144, 138, 138, 0.39);
    font-family: "poppins";

}

.local-titulo {
    font-family: "poppins";
    font-size: 30px;
    color: aliceblue;
    display: flex;
    padding: 10px;
    text-align: center;
}

.local-p {
    font-family: "poppins";
    font-size: 18px;
    color: aliceblue;
    padding: 7px;
    text-align: center;
}

.h-costa {
    font-family: "poppins";
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: aliceblue;
}

.p-costa {
    font-family: "poppins";
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: aliceblue;
}

.thumbnails {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.thumbnails.box{
    display: flex;
    text-align: center;
    margin: 0 1em 0 1em;
    padding-top: 2em;
    flex-direction: column;
    
}
.box-content {
    display: flex;
    align-items: center;
    position: relative;
}

.h-contacto{
    font-family: "poppins";
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.h-informacion {
    font-family: "poppins";
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-weight: lighter;
}

.redes {
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
}

#ig {
    padding: 20px;
}

#tiktok {
    padding: 20px;
}

#wpp {
    padding: 20px;
}

#preguntas {
    text-align: center;
    font-family: "poppins";
    font-size: 18px;
    color: aliceblue;
    background-color: #008cff;

}

.accordion-header {
    font-family: "poppins";
}

.accordion-body {
    font-family: "poppins";
    font-size: smaller;
}

.newsletter {
    font-size: 20px;
    font-family: "poppins";
    color: white;
    background-color: rgb(0, 145, 255);
    padding: px;
    align-items: center;
    margin: 30px;
    border-radius: 80px;
    text-align: center;
}

.newsletter a {
    color: aliceblue;
    text-decoration: dotted;
}

.newsletter :hover {
    color: orange;
}

footer {
    color: azure;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
   
}

h3 {
    font-size: 14px;
    padding: 100px 100px 10px;

}
