/*Cards*/ 
.card-group {
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#card-inicio {
    .card-title {
        color: rgb(27, 153, 255);
        font-weight: bolder;
        text-decoration-line: underline;
        padding-top: 0px;
        padding-bottom: 20px;

    }
    .card-text {
        font-family: "poppins";
        font-size: 15px;
        background-color: white;
        color: rgb(134, 134, 113);
        text-align: left;

    }
}
