/*contacto*/
main {
    .h-contacto {
        font-family: "poppins";
        font-size: 30px;
        color: aliceblue;
        text-align: center;
        padding: 10px;
        margin: 10px;
    }

    .h-informacion {
        font-family: "poppins";
        font-size: 15px;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 10px;
        margin: 10px;
        font-weight: normal;
    }

    .formulario {
        width:400px;
        background-color:  rgb(31, 66, 130);
        padding: 20px;
        margin: auto;
        font-family: roboto;
        border-radius: 14px;
                
            h1 {
            font-size: 20px;
            color: aliceblue;
            text-align: center;
            }
                .text {
                    width: 100%;
                    background-color: rgb(31, 66, 130);
                    padding: 10px;
                    border-radius: 5px;
                    margin-bottom: 7px;
                    border: 1.5px solid  rgb(7, 4, 68);
                    color: azure;
                }
                    p {
                        color: aliceblue;
                        text-align: center;
                        height: 40px;
                        line-height: 40px;
                    }
                        .boton-form {
                            font-family: roboto;
                            font-size: 15px;
                            width: 100%;
                            border-radius: 5px;
                            border: none;
                            background-color: rgb(27, 153, 255);
                            color: aliceblue;
                            padding: 4px;
                            margin: 16px 0px;

                        }
    }

    .redes {
        align-items: center;
        justify-content: center;
        padding: 50px;
        margin-top: 50px;
        border: none;
        display: flex;
        background-color: rgb(7, 4, 68);
            aanimation: fadeIn 5s;
            -webkit-animation: fadeIn 5s;
            -moz-animation: fadeIn 5s;
            -o-animation: fadeIn 5s;
            -ms-animation: fadeIn 5s;
        
        @keyframes fadeIn {
           0% {opacity: 0;}
           100% {opacity: 1;} 
    
        }

        @-moz-keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
          }
          
          @-webkit-keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
          }
          
          @-o-keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
          }
          
          @-ms-keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
          }

        #ig {padding: 20px;
        }
        
        #tiktok {
            padding: 20px;
        }
        
        #wpp {
            padding: 20px;
        }
        
    }
    
    #preguntas {
        text-align: center;
        font-family: "poppins";
        font-size: 18px;
        color: aliceblue;
        background-color: rgb(213, 206, 158);
        margin-top: 50px;
    
    }
    .accordion-header {
        font-family: "poppins";
       }
    .accordion-body {
        font-family: "poppins";
        font-size: smaller;
    }

    .newsletter {
        font-size: 20px;
        font-family: "poppins";
        color: white;
        background-color: rgb(7, 4, 68);
        padding: px;
        align-items: center;
        margin: 30px;
        border-radius: 80px;
        text-align: center;
        :hover { color: rgb(213, 206, 158);}
            a {
                color: aliceblue;
                text-decoration: dotted;
            }
        }
}