.navbar {
    background-color:rgb(27, 153, 255);
    margin-top: 18px;
    font-family: "poppins";
    --bs-navbar-color: azure;
        .navbar-nav {
            --bs-navbar-color: azure;
       }
                h1 {
                    font-size: 31px;
                    color: rgb(255, 255, 255);
        }
  }
  
  